.slider {
  width: 100%;
  max-width: 1440px; // 1294px
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;

  &__container {
    width: 100%;
    max-width: 1168px;
    // min-height: 682px;
    order: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}

.prev,
.next {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 1px solid #5956e9;
  transition: all 0.5s ease;
  flex-basis: 0;
  flex-shrink: 1;
}

.prev button,
.next button {
  display: block;
  width: 84px;
  height: 84px;
  background-color: transparent;
  font-size: 0;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev:hover button,
.next:hover button {
  background-color: #fff;
}

.prev:hover,
.next:hover {
  background-color: #5956e9;
}

.prev button {
  -webkit-mask-image: url(../../../resources/arrow-slider.svg);
  background-color: #5956e9;
  transform: scale(-1);
}

.next button {
  -webkit-mask-image: url(../../../resources/arrow-slider.svg);
  background-color: #5956e9;
}

.prev {
  order: 0;
}

.next {
  order: 2;
}
