.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 149px 1fr 78px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0 auto;
  overflow: hidden;
}

.main {
  grid-area: main;
  grid-row-start: header;
  grid-row-end: main;
}
